
.carda{
    margin-top: 5%;
    margin-left: 10%;
    width: 800px;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.card_1{
    margin-left: 13.5%;
    box-shadow: 2px 3px 10px 1px;
    width: 650px;
    height: 190px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(255,250,237,1) 42%, rgba(255,193,7,1) 69%);
    display: flex;
    margin-bottom: 5%;
}

.card_2{
    width: 1080px;
    height: 200px;
    display: flex;
    margin-left: -13.5%;
    justify-content: space-between;
}
.a, .b, .c, .d, .g{
    border-radius: 10px;
    text-align: center;
    width: 210px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    background: #f8f8f8;
    box-shadow: 2px 3px 10px 1px;
    padding: 1%;
    color: black;
    
}
.e{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.f{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.texto{
    margin-right: 40%;
    letter-spacing: 0.1em;
    font-size: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.texto_p{
    font-size: 11px;
    letter-spacing: 0.1em;
    color: black;
}
.img{
   margin-top: -35%;
   margin-left: -48%;
}
.img_s{
    height: 80px;
    width: 100px;
    margin-left: -80px;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 10%;
}
.temp{
    margin-top: 4%;
    margin-left: 6%;
    font-size: 68px;
    color: black;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-family: 'Poppins', sans-serif;
}
.valor{
    margin-top: 6%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    color: black;
}
.lugar{
    margin-left: 6%;
    letter-spacing: 0.2em;
    font-size: 13px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.trocar{
    margin-left: 60%;
}

