/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}

input:-moz-placeholder {
  color: #adadad;
}

input::-moz-placeholder {
  color: #adadad;
}

input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}

textarea:-moz-placeholder {
  color: #adadad;
}

textarea::-moz-placeholder {
  color: #adadad;
}

textarea:-ms-input-placeholder {
  color: #adadad;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.select_login {
  margin-top: 10px;
  margin-left: 60px;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}

.wrap-login100 {
  width: 500px;
  height: 507px;
  margin-top: 120px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px 55px 33px 55px;

  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
}

.wrap-login200 {
  width: 500px;
  height: 640px;
  margin-top: 120px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px 55px 33px 55px;

  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
}

.wrap-login300 {
  width: 500px;
  height: 750px;
  margin-top: 120px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px 55px 33px 55px;

  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
}

.wrap-login400 {
  width: 500px;
  height: 870px;
  margin-top: 120px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px 55px 33px 55px;

  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}
.wrap-input200 {
  width: 100%;
  position: relative;
  margin-bottom: 37px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  margin-top: 30px;
}

.input200 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 30px;
  background: transparent;
  

}


/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #6a7dfe;
  background: -webkit-linear-gradient(left, gold, gold);
  background: -o-linear-gradient(left, gold, gold);
  background: -moz-linear-gradient(left, gold, gold);
  background: linear-gradient(left, gold, gold);
}

.focus-input100::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.input100:focus+.focus-input100::after {
  top: -15px;
}

.input100:focus+.focus-input100::before {
  width: 100%;
}

.has-val.input100+.focus-input100::after {
  top: -15px;
}

.has-val.input100+.focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}



/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #333333;
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.login100-form-btn:hover {
  color: rgb(255, 187, 0);
  transition: 1.1s;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}





/* Tela de DEV */
/* MODAL 1 */
.modal-containerL {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(254, 185, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.modal-containerL.show {
  opacity: 1;
  pointer-events: auto;
}

.modalL {
  background-color: white;
  width: 600px;
  height: 150px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 100px;
}

.modalL h2 {
  margin: 0;
}

.button1L {
  position: absolute;
  margin-bottom: 250px;
  margin-left: 595px;
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(254, 185, 0, 1);
  border-radius: 40px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-style: hidden;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button1L:hover {
  background: rgba(254, 185, 0, 1);
  color: white;
  border: 1px solid rgba(254, 185, 0, 1);
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
}


/* MODAL 2 */
.modal-containerL2 {
  position: fixed;
  top: 0;
  left: 0;
  height: 115vh;
  width: 100vw;
  background-color: rgba(254, 185, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.modal-containerL2.show {
  opacity: 1;
  pointer-events: auto;
}

.modalL2 {
  background-color: white;
  width: 500px;
  height: 490px;
  max-width: 100%;
  padding: 30px 60px;
  border-radius: 15px;
  text-align: center;
}
.modalL2-servidor {
  background-color: white;
  width: 500px;
  height: 300px;
  max-width: 100%;
  padding: 30px 60px;
  border-radius: 15px;
  text-align: center;
}

.modalL2 h2 {
  margin: 0;
}

.button2L {
  position: absolute;
  margin-top: -40px;
  margin-left: 230px;
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(254, 185, 0, 1);
  border-radius: 40px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-style: hidden;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button2L:hover {
  background: rgba(254, 185, 0, 1);
  color: white;
  border: 1px solid rgba(254, 185, 0, 1);
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

/* MODAL 3 */
.modal-containerL3 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 3;
}

.modal-containerL3.show {
  opacity: 1;
  pointer-events: auto;
}

.modalL3 {
  background-color: white;
  width: 600px;
  height: 150px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 100px;
}

.modalL3 h2 {
  margin: 0;
}

.button1L3 {
  position: absolute;
  margin-bottom: 250px;
  margin-left: 595px;
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(254, 185, 0, 1);
  border-radius: 40px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-style: hidden;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
  cursor: pointer;
  transition-duration: 0.4s;
}

.button1L3:hover {
  background: rgba(254, 185, 0, 1);
  color: white;
  border: 1px solid rgba(254, 185, 0, 1);
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgb(189, 188, 188);
}

.nova-metrica-ideal{
  border: solid 2px #adadad;
  margin-bottom: 3%;
}

.wrap-login500 {
  width: 500px;
  height: 1000px;
  margin-top: 120px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px 55px 33px 55px;

  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
}
.wrap-login600 {
  width: 500px;
  height: 1100px;
  margin-top: 120px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px 55px 33px 55px;

  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
}